PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
MONGO_URI=mongodb://uch_admin:change_me_now@mongo:27017/unity_care_hospital?authSource=admin
MONGO_USER=uch_admin
MONGO_PASS=change_me_now
JWT_SECRET=replace_with_secure_random_string_min_48_chars
JWT_REFRESH_SECRET=replace_with_different_secure_random_string_min_48_chars
JWT_EXPIRES_IN=1h
